
@model Hunah.Models.Animal

<h2>Edit</h2>

<h4>Edit An Animal's Information: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AnimalId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Breed)
    @Html.EditorFor(model => model.Breed)

    @Html.LabelFor(model => model.Gender)
    @Html.EditorFor(model => model.Gender)
    

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>